assets/images/background-compressed.jpg
assets/images/background-orginal.jpg
assets/images/me.jpeg
assets/images/highomni.png
assets/images/shai.jpg
assets/images/shai.png
assets/images/shai.psd
assets/images/shaib.png
assets/images/shaibb.png
assets/images/shaibig.png
assets/images/shaibw.png
assets/images/pic effects.pptx
assets/images/PathfindingGUI.png
assets/images/ricosDesktopProfile.png
assets/images/ricosLogin.jpg
assets/images/ricosLogo.png
assets/images/ricosMobileHome.png
assets/images/WebPortfolio.png
assets/images/WebPortfolioMobile.png
